@import url("https://fonts.google.com/share?selection.family=Bree+Serif");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", sans-serif;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  text-decoration: none;
  color: #4534ff;
  font-size: .9rem;
}

.link:hover {
  text-decoration: underline;
  color: #796ef5;
}

@media (min-width: 320px) {
  .container {
    padding: 0 40px;
    
  }
}